@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
  font-family: 'Open Sans', sans-serif;
}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

/*  */
.rwd-table tr:first-child {
  border-top: none;
  background: #35517b;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #8bd0f6;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #78a5c7;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;

}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #323030;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #dbd8d8;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}

@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}

@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #54b2ec;
  }

  .rwd-table td:before {
    display: none;
  }

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */





.trbtn {
  cursor: pointer;
}

.tdinfo {
  vertical-align: top;
  background-color: #fffffe;
  font-size: smaller;

}

/* here */
.tdService {
  vertical-align: top;
  background-color: #ffffff;
  font-size: small;
}


.radioDiv {
  text-align: center;
  margin-bottom: 3px;
  color: #0bb7eb;
}

.arrow {
  margin-top: 0px;
  width: 25px;
}

td .arrow {
  vertical-align: top;
  margin-top: 0px;
}

.header {

  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.imgCar {
  border-radius: 8px;
  max-width: 155px;
}

.orderPhotos {
  border-radius: 4px;
  width: 70px;
  margin: 10px;
  display: inline-block;


}

.warning {
  color: chartreuse;
}

.hcOrder {
  color: blue;
  font-weight: 800;
  font-size: large;
  margin-bottom: 15px;
}

.infoHead {
  font-weight: 900;
}

.notAccept {
  font-weight: 900;

}


.homeLink {
  text-align: center;
  color: #d8e7f3;
  list-style-type: none;
  text-decoration: none;
}

.homeLink a {
  text-decoration: none;
  color: hsl(191, 100%, 49%);

}




/* SEARCH BOX */

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.search-container {
  max-width: 600px;
  margin: 50px auto;
}

.inpSearch {
  display: block;
  width: calc(100% - 24px);
  /*20px [ left & Right ] padding + 4px border [ left & Right ] */
  font-size: 18px;
  font-weight: 600;
  color: #20066f;
  padding: 10px;
  border: 2px solid #04f99f;
}



