body {
  background: #4B79A1;
  background: -webkit-linear-gradient(to left, #4B79A1, #283E51);
  background: linear-gradient(to left, #4B79A1, #283E51);
}



#submitButton {
  margin-top: 27px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  display: block;
  width: 200px;
}

#bookDate {
  width: 200px;
  display: inline;
}

#bookHour {
  width: 200px;
  margin-left: 10px;
  margin-right: auto;
  display: inline;
}

#headOrder {
  margin-top: 25px;
}

#headPhotoLinks {
  margin-bottom: 10px;
  margin-left: 13px;
}

#btntake {
  background-color: #29316d;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 12px 12px 12px 12px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  float: left;
}

/*  */